.container {
  margin: 20px auto;
  width: 1000px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

.names {
  text-align: center;
}

#bottom_links {
  text-align: center;
  color: black;
}

h1 {
  text-align: center;
  color: black;
}

#game_over {
  text-align: center;
}

html{
  background: url('http://www.fastcoolcars.com/images/wallpaper/cool2.jpg')no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.racer_table td {
  background-color: white;
  height: 70px;
  width: 110px;
}

.racer_table td {
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  border-left: 2px solid red;
  border-right: 2px solid red;
}

.racer_table td.active1 {
  background-color: purple;
}

.racer_table td.active2 {
  background-color: orange;
}