<div class="login">
  <h1> Welcome to ruby racer - enter your names and get ready to race. </h1>
  
  <form action="/authuser" method="post">    
    <table> 

      <tr>
        <td><label for="user">User Name</label></td>
        <td><input type="text" name="user_name"/></td>
      </tr> 

      <tr>
        <td><label for="user">User Name</label></td>
        <td><input type="text" name="user_name"/></td>
      </tr>

      <tr>
        <td><input type="Submit" name="Race it!"/></td>
      </tr>
    
    </table>
  </form>  

  <br><br>
  <a href="/race"> Race away!! </a>
  <br><br>

</div>