<div class="login">
  <h1> Welcome to JAVA racer - enter your names and get ready to race. </h1>
  
  <form action="/authuser" method="post">    
    <table> 

      
    <label>User Name1<input type="text" name="user_name1"/></label>

    <br><br>
    
    <label>User Name2<input type="text" name="user_name2"/></label>

    <br><br>
     
    <input type="Submit" name="Race it!"/>


    <% if @error %>
    <h2> <%= @error %> </h2>
    <% end %> 
      
    
    </table>
  </form>  

  <br><br>
  <a href="/race"> Race away!! </a>
  <br><br>

</div>