<!DOCTYPE html>
<html lang="en">
<head>
 
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="application.css">
  <script type="text/javascript" src="application.js"> </script>
 
</head>
 
<body>
 
  <div class="container">
    <h1>Ruby Racer!!</h1>
    <p>Nuts!</p>
 
    <div>
      <p id="game_over"></p>
    </div>
 
   <table class="racer_table">
    <tr id="player1_strip">
      <td class="active1"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
 
    <tr id="player2_strip">
      <td class="active2"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
  </div>
</body>